/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import '~@covalent/core/theming/all-theme';
@import '~normalize.css';
// (optional) Additional themes
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';

@include mat-core();

//pink
$primary: mat-palette($mat-blue, 500);
$accent:  mat-palette($mat-yellow, 500);

$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);

// (optional) Additional themes
@include covalent-markdown-theme($theme);
@include covalent-highlight-theme();


.fill{
  flex:1;
}

.white{
  color: white;
}

ul{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  li{
    list-style: none;
  }
}
[appSwitchPages] {
  position: relative;
  height: 100%;
  width: 100%;
  .page{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.vertical{
  overflow-y: auto !important;
}

.horizontal{
  overflow-x: auto !important;
}